<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currency.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>My FX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Westpac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WestpacTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WestpacUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B59EDDDB241A322000D979B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5AAF09324183EBA0034645A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5AAF0A924183EBB0034645A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5AAF0B424183EBB0034645A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5AAF10F241855C40034645A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
